{% extends 'base.html.twig' %}
{% block body %}
    <div class="login container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8">
                <img src="http://via.placeholder.com/400x150" class="logo img-fluid mx-auto d-block">
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <form action="{{ path('app_login') }}" method="post">

                    <div class="form-group">
                        <input type="text" class="form-control" id="username" name="_username"
                               placeholder="Nom d'utilisateur"
                               value="{{ last_username }}"/>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="password" name="_password"
                               placeholder="Mot de passe"/>
                    </div>
                    <div class="row">
                        <div class="col-xl-6 col-md-4 col-sm-6 col-6">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input type="checkbox" class="form-check-input" id="remember_me"
                                           name="_remember_me">
                                    Rester connecté
                                </label>
                            </div>
                        </div>
                        <div class="col-xl-4 col-md-6 d-none d-md-block text-right">
                            <a class="btn btn-link" href="{{ path('app_request_password') }}">Mot de passe oublié ?</a>
                        </div>
                        <div class="col-xl-2 col-md-2 col-sm-6 col-6 text-right">
                            <button class="btn btn-primary" type="submit">Connexion</button>
                        </div>
                    </div>
                    <div class="row d-block d-md-none text-center">
                        <a class="btn btn-link" href="{{ path('app_request_password') }}">Mot de passe oublié ?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
