{% extends 'main.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}
{% block body %}
    <div class="login container-fluid">
        <div class="row justify-content-center">
            <div class="col-12 col-xl-6 col-lg-8">
                <img src="http://via.placeholder.com/400x150" class="logo img-fluid mx-auto d-block">
                {% if error %}
                    <div class="error">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                {{ form_start(form) }}
                    {{ form_row(form.username_or_email) }}
                    {{ form_row(form.password) }}
                    <div class="col-xl-6 col-md-4 col-sm-6 col-6">
                        {{ form_row(form.remember_me) }}
                    </div>
                    <div class="col-xl-4 col-md-6 d-none d-md-block text-right">
                        <a class="btn btn-link" href="{{ path('app_request_password') }}">Mot de passe oublié ?</a>
                    </div>
                    <div class="col-xl-2 col-md-2 col-sm-6 col-6 text-right">
                        {{ form_row(form.submit) }}
                    </div>
                    {{ form_rest(form) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
